<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Clientes</h4>
  <button type="button" class="btn btn-tool" (click)="activeModal.dismiss('Cross click')">
    <i class="fa fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Razão Social" />
            </div>
            <div class="col-6">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Fantasia" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cnpj / Cpf" />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ie / Rg" />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Im" />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tipo" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">Salvar</button>
</div>
